<!DOCTYPE html>
<html>
  <head>
    <title>NoodleConf 2013</title>
    <meta content="width=device-width" height="device-height"
          user-scalable="no" initial-scale="1.0" maximum-scale="1.0"
          minimum-scale="1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="chrome=1" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/main.css">

  <body>
    <header>NoodleConf 2013</header>

    {% if session.email %}
      <a href="javascript:;" id="logout">Log out</a>
    {% else %}
      <a href="javascript:;" id="login">Log in</a>
    {% endif %}

    {% block content %}{% endblock %}
    <footer></footer>

    <script src="https://login.persona.org/include.js" type="text/javascript"></script>
    <script src="/javascripts/require.js" data-main="/javascripts/config"></script>
  </body>
</html>
